body
{
background-color:#FBFBEF;
}
h1
{
color:red;
text-align:center;
}
p
{
font-family:"Times New Roman";
font-size:20px;
}
div
{
/* background-color:#F5BCA9; */
}
#Header
{
background-color:#F5BCA9;
}


