
#mainTable
{
    margin-left:20px;
}

.h4Airaab
{
    color:#8e3f3f;
    font-size:35px;
    text-align:right;
    margin:5px;
}

.tdAiraab
{
    width:500px;
}

.pAiraab
{
    color:#d03434;
    font-size:30px;
    text-align:right;
    margin:5px; 
}